.logoBar .logo {
  max-width: 150px;
}
.logoBar span {
  font-size: 80px;
  vertical-align: middle;
  font-family: "Dancing Script", cursive;
}
header {
  margin-top: 30px;
}

.App-footer {
  text-align: center;
  margin: 30px 0;
}
.App-footer a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
body {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(254, 255, 165) 0%,
    rgb(255, 232, 182) 90%
  );
}
.App {
  max-width: 960px;
  margin: 0 auto;
}
